/CategoriaEspectaculo.class
/EspectaculoMultiple.class
/EspectaculoPuntual.class
/EspectaculoTemporada.class
/FactoriaEspectaculos.class
/GestorEspectaculos.class
/InterfazEspectaculo.class
/SesionEspectaculo.class
