@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background-color: #000000;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  position: absolute;
  place-content: center;
  width: calc(100% - 20px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 370px;
  margin: 0 auto;
  width: 900px;
-webkit-box-reflect: below -15px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.1)));
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 30px);
  top: 20px;
  position: relative;
  width: 30%;
  border-radius: 13px 0px 0px 13px;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 30px);
    max-height: 270px;
  }
}
.sign_up {
  font-size: 47px;
  font-weight: 900;
  margin: 50px 40px 40px;
  color: #23242A;
}
.eula {
  color: #565657;
  font-size: 14px;
  line-height: 1.5;
  margin: 30px;
  font-weight: 450;
}
a {
  color: #4A4F5F;
  font-size: 15px;
  margin: 0px;
  padding: 5px;
  text-align: left;
  font-weight: 500;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 35px 16px rgba(0,0,0,0.5);
  color: #F1F1F2;
  position: relative;
  width: 70%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
.columnas {
  column-count: 2;
  column-gap: 55px;
  column-rule: 2px solid black;
  list-style: none;
}
.zoom{
     /* Aumentamos la anchura y altura durante 0.5 segundos */
     transition: width 0.5s, height 0.5s, transform 0.5s;
}
.zoom:hover{
     /* tranformamos el elemento al pasar el mouse por encima al doble de
     su tamaño con scale(2). */
     transform : scale(1.05);
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #f2f2f2;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #707075;
}
#submit:active {
  color: #d0d0d2;
}

